$color--black: #0D1624;
$color--blue: #009AF5;
$color--dark-blue: darken($color--blue, 7%);
$color--gray: #3E4A56;
$color--light-gray: #9098A3;
$color--green: #6abc2b;

$font-size--base: 18px;

$gutter: 30px;
