.header {
  margin: ($gutter * 2) auto;
  text-align: center;
}

.header__title {
  font-size: em(24px);
  font-weight: normal;
  margin: 0;
}

.header__title__link {
  color: $color--black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header__nav__link {
  color: $color--light-gray;
  display: inline-block;
  font-size: em(14px);
  padding: 10px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}